@charset "UTF-8";


body{
   margin: 0%;
   background-color: lightgray;
}

/*CABEÇA*/
header{
   background-color: white;
   height: 35px;
   padding: 15px;
}

header > h1{
   display: inline-block;
   margin: 0%;
   color: red;font-family: Arial, Helvetica, sans-serif;
   font-weight: lighter;
}

header > img{
   height: 30px;
   margin-right: 5px;
}

#pesquisa{
   position: absolute;
   left: 99%;
   top: 2%;
   transform: translate(-99%);
   padding: 8px;
}

#pesquisa:hover{
   background-color: lightgray;
   transition-duration: 0.5s;
   border-radius: 10px;
}
/*CABEÇA*/

/*TRAVEL*/
/*MENU*/
#conteinerA{
   display: flex;
   flex-direction: row;
   background-color: aquamarine;
   height: 40px;
}

.box{
   display: grid;
   grid-template-columns: 30% 20%;
   text-align: center;
   justify-content: center;
   background-color: red;
   width: 90%;
   height: 100%;
   padding: 0% 5%;
}

#box2{
   background-color: black;
}

#box3{
   background-color: black;
}

.ctext{
   margin-left: 25px;
   display: flex;
   color: white; 
   justify-content: center;
   text-align: center;
}

.ctext p{
   margin: 0%;
  position: relative;
  top: 25%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}


.cimg{
   background: url("imagens/avisão.png");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: contain;
}

#hotel{
   background: url("imagens/cama.png");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: contain;
}

#rental{
   background: url("imagens/carro.png");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: contain;
}
/*MENU*/

#travel{
   background-color: white;
   width: 90%;
   padding: 0% 5%;
   padding-bottom: 15px;
}

#travel > h1{
   margin: 0%;
   padding: 15px 0px;
}

form > p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   margin-bottom: 0%;
}

.pes{
   width: 95%;
   padding: 10px;
   border: 1px solid black;
}

#search{
   margin-top: 15px;
   padding: 10px 20px;
   background-color: rgb(105, 105, 105);
   color: white;
   font-size: 15px;
   cursor: pointer;
}

#search:active{
   color: black;
}
/*TRAVEL*/

/*MAIN*/

main{
   width: 90%;
   padding: 0% 5%;
}

main > h1,p{
   font-weight: lighter;
}

main > p{
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
}

/*BLOCOFOTOS*/
#blocofotos{
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.fotos{
   background-color: red;
   width: 100%;
   height: 60vw;
   display: grid;
   grid-template-rows: 88% 12%;
   grid-template-areas:      'nada'
   'lugar';
   border: 2px solid black;
}

#terre{
   display: grid;
   background: url("imagens/cinqueterre.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   
}

.lugar{
   grid-area: lugar;
   display: inline;
   margin: 0%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 3vmax;
   color: white;  
   position: relative; 
   left: 3%;
}

#york{
   background: url("imagens/newyork.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

#san{
   background: url("imagens/sanfran.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

#pisa{
   background: url("imagens/pisa.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

#paris{
   background: url("imagens/paris.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
/*BLOCOFOTOS*/

/*BLOCOFOTOS2*/

#blocofotos2{
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.fotos2{
   background-color: red;
   width: 100%;
}

.img{
   width: 100%;
   height: 45vh;
   background-color: aqua;
}

#mountains{
   background: url("imagens/ocean.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

#austria{
   background: url("imagens/mountains.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

.textofoto{
   width: 90%;
   padding: 0% 5%;
   height: 55%;
   background-color: white;
}

.titulofoto{
   margin: 0%;
   padding: 15px 0px;
}

.paragrafoto{
   margin: 0%;
   padding: 15px 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: lighter;
   font-size: 24px;
}

.price{
   color: rgba(128, 128, 128, 0.76);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 24px;
}

#buy{
   position: relative;
   left: 5%;
}

/*NEWSLETTER*/
#newsletter{
   background-color: rgb(102, 102, 102);
   width: 94%;
   margin: 20px 0px;
   padding: 25px 3%;
}

#newsletter > h1{
   color: white;
   margin: 0%;
}

#newsletter > p{
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   font-weight: lighter;
   margin: 0px;
   margin-top: 20px;
   }

#email1{
   width: 100%;
   padding: 5px 0px;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   border: 2px solid black;
}

#sub{
   margin-top: 10px;
   background-color: rgb(255, 67, 67);
   padding: 10px 20px;
   color: white;
   box-shadow: none;
   border: 1px solid black;
   cursor: pointer;
}

#sub:active{
   background-color: black;
}


/*BLOCOFOTOS2*/

/*NEWSLETTER*/

/*FINAL*/

.imgf{
   display: inline-block;
   height: 20px;
   width: 20px;
}

#loc{
   background: url("imagens/icone.png");
   background-repeat: no-repeat;
   background-size: cover;
}

#tele{
   background: url("imagens/telefonelogo.png");
   background-repeat: no-repeat;
   background-size: cover;
}

#emai{
   background: url("imagens/emaillogo.png");
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   top: 3px;
}

.textf{
   display: inline-block;
   font-size: 20px;
   margin: 0%;
}

#name{
   width: 100%;
   padding: 15px 0px;
   margin: 10px 0px;
   text-indent: 10px;
   
}

#emf{
   width: 100%;
   padding: 15px 0px;
   margin: 10px 0px;
   text-indent: 10px;
}

#menssagem{
   width: 100%;
   padding: 15px 0px;
   margin: 10px 0px;
   text-indent: 10px;
}

#message{
   padding: 15px 20px;
   background-color: black;
   color: white;
   border: 1px solid black;
   cursor: pointer;
}

#message:active{
   background-color: gray;
}

/*FINAL*/

/*SOCIAIS*/

#sociais{
   text-align: center;
}

#sociais > p{
   font-size: 24px;
   color: gray;
   font-weight: lighter;
}

#sociais > img{
   height: 25px;
}

/*SOCIAIS*/

/*MAIN*/